.header {
    width: 100%;
    display : flex ;
    background-color: $header-color;
    min-height: 8vh;
    font-size: 1.6rem;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;

    transition: all 0.4s ease;
    
    &__logo {
        font-family: 'Mr Dafoe' ;
        font-size: 4rem;
        padding: 1rem 2rem;
        line-height: 3rem;
        flex: 0 1 fit-content;
        padding-left: 10rem;
        color: $primary-color;
        transition: all 0.4s ease; 
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0 2rem ;
    }

    &__item {
        list-style-type: none;
        margin-right: 1.5rem ;
        padding: 1rem;
        color : white ;
        height: 100%;
        line-height: 3rem;
        border-top: 2px solid transparent ;

        transition: all 0.4s ease;

        &:hover {
            border-color: $primary-color;
        }
    }

}