.main {
    height: 100vh;
    background-image: url(../assets/banner.jpg) ;
    background-position: center;
    background-repeat: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologies {
    min-height: 100vh; 
    padding: 10rem 0;
}