.main {
    height: 100vh;
    background-image: url(../../assets/banner.jpg);
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}